@import url(https://fonts.googleapis.com/css?family=Bevan);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);

$mainColor:#0a2929;
$blueColor:#33cccc;
$mainFont:"Source Sans", sans-serif;
$displayFont: 'Bevan', cursive;
$enable-flex: true;

body {
  font-family:$mainFont;
  font-weight:300;
  color:$mainColor;
  font-size:16px;
}

h1, h2 {
  font-family: $displayFont;
}

h3 {
  font-weight:700;
}

a {
  color:$blueColor;
  transition:opacity .3s;
  &:hover, 
  &:focus {
    color:$blueColor; 
    opacity:.6;
    text-decoration: none; 
  }
}
.logo {
  font-family: $displayFont;
  color: $mainColor;
  transition: color .3s;
  font-size:60px;
  cursor: pointer;
  &:hover, 
  &:focus {
    color:$blueColor;
    text-decoration: none; 
  }
}

.navbar-default {
    background-color: $blueColor;
    border:0;
    border-radius:0;
    padding:10px 0px;
    font-weight:700;
    color:white;
}


.post-btn {
  background-color:white;
  color:$mainColor;
  transition:opacity .3s;
  &:hover {
    background-color:white!important;
    opacity:.6;
  }
}


.navbar-default .navbar-nav>li>a {
  color: $mainColor;
  transition:opacity .3s;
  &:hover {
    opacity:.6;
  }
}

.mock {
  background-color: $blueColor;
  min-height:300px;
  margin-bottom:20px;
  transition:opacity .3s;
  padding:20px;
}

.mock-small {
  background-color: $blueColor;
  height:150px;
  margin-bottom:20px;
  transition:opacity .3s;
  padding:20px;
}


.btn {
  font-weight:700;
  border-radius: 0px;
}

.form-group-lg {
  .form-control {
    border-radius:0px;
  }
}

.icon{
  width: 32px;
  height: 32px;
  fill: #ccc;
}



.icon.is-outlined{
  stroke:  #FE4365;
  stroke-width: 2px;
  fill: transparent;
}


.icon.is-hoverable:hover{
  fill: #FE4365;
  cursor: pointer;
}

.icon.is-activeable:active{
  transform: scale(1.25);
  cursor: pointer;
}


.icon.is-transit{
   -webkit-transition: all .35s ease-out;
  -moz-transition: all .35s ease-out;
  -ms-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
}


#container {
 width: 100%;
 margin: 0 auto;
}


.grid-sizer, .masonryImage {
    width:32.5%;

    img {
      width:100%;
      transition: opacity .1s;
      &:hover {
        
      }
    }
  }  

.masonryImage {
  margin-bottom:10px;
  z-index: 1;

} 


.item-details {
    display: none;
    transition: display .5s;
    width:100%;
    h3 {
      color:white;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
      &:hover {
        opacity:1;
      };
    }

}

.show-item:hover > .item-details {
    display: block;
    position:absolute;
    z-index: 5;
} 
