<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="text-center">A Really Cool Thing</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="mock"></div>
      </div>
      <div class="col-md-8">
        <p><strong>Price</strong>: $14.56xxx</p>
        <p><strong>Location</strong>: Value Village</p>
        <p>
          Donec aliquam risus nec leo malesuada ultricies. Quisque nec maximus lectus. Aliquam consequat mauris nec augue efficitur commodo. Nullam sit amet iaculis arcu. Pellentesque interdum posuere facilisis. Etiam nec fringilla magna, a ornare arcu. Pellentesque eget lectus dui. Nunc iaculis in leo mollis laoreet. Mauris ipsum dui, egestas sit amet cursus tempus, dapibus eget justo. Fusce fringilla nibh vitae viverra elementum. Proin ullamcorper enim at arcu dapibus, a gravida massa scelerisque. Nam et eleifend mi. Pellentesque sit amet nulla condimentum, mattis tortor vel, molestie neque. In scelerisque elit blandit, convallis risus ac, pellentesque mauris. Donec sit amet quam et nisi maximus tristique.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>