<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="text-center"><%= @item.title %></h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="mock"></div>
      </div>
      <div class="col-md-8">
      <svg class="icon is-outlined is-hoverable is-transit is-activeable" viewBox="0 0 32 32">
        <use xlink:href="#heart-icon"></use>
      </svg>
        <p><strong>Price</strong>: <%= @item.price %></p>
        <p><strong>Location</strong>: <%= @item.location%></p>
        <p>
          <%= @item.description %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>