<div id="container">
<div class="grid-sizer"></div>
<% @items.each do |item| %>
  <% @item = item %>

  <div class="masonryImage">
    <a class="show-item" href="/show">
      <div class="item-details">
        <h3 class="text-center"><%= @item.title%></h3>
      </div>
      <img src="<%=@item.image_path%>">
    </a>
  </div>
  <% end %> 

</div>


