<div id="container">
<div class="grid-sizer"></div>
<% @items.each do |item| %>
  <% @item = item %>
  
  <div class="masonryImage">
    <a href="/show"><img src="<%=@item.image_path%>"></a>
  </div>
  <% end %> 

</div>


