<div id="container">
<div class="grid-sizer"></div>
<% @items.each do |item| %>
  <% @item = item %>

  <div class="masonryImage">
    <a class="show-item" href="/items/<%= @item.id %>">
      <div class="item-details">
        <h3 class="text-center"><%= @item.title%></h3>
        <hr>
        <p class="text-center"><strong><%=@item.location%></strong></p>
      </div>
      <img src="<%=@item.image_path%>">
    </a>
  </div>
  <% end %> 

</div>


