<h1>Sign In</h1>

<form action="/session" method="POST">
<div>
<input type="text" name="email" placeholder="Email Address">
</div>
<div>
    <input type="password" name="password" placeholder="Password">
</div>
<div>
    <button type="submit">Sign In</button>
</div>
</form>
